<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Budgeting App</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/logo.png" alt="money logo"/></a>
    <h1>Budgeting App</h1>
    <div class = "navlinks">
      <div class="navlink"><a href="/logout">Log out</a></div>
    </div>
  </nav>

  <p id = "errorMessage" class = "column"></p>
  <section id="app">

  </section>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
