/* generic styles --------*/

html{
    font-family: sans-serif;
}

#logo{
    width: 100;
    height: 100;
}

button, input[type=submit]{
    border: none;
    background-color: green;
    color: white;
}

button:hover, input[type=submit]:hover{
    background-color: rgb(0, 111, 0);
}

button:active, input[type=submit]:active{
    background-color: rgb(0, 51, 0);
}


/*nav bar --------------- */
nav{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    background-color: rgb(102, 213, 65);
}

nav a {
    color: white;
}

nav a:hover {
    color: gray;
}

nav a:active {
    color: gray;
}

/* budgets--------------- */
#budgets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* expenses--------------- */
.expenseList {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.expense {
    width: 15%;
    border: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 6px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenseAmount {
    font-size: large;
    font-weight: bold;
    color: green;
}

.expenseButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ad-------------*/
#ad{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 0;
}

#ad button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 50%;
}

#ad img {
    width: 180px;
    height: 180px;
}

.hidden {
    display: none;
}
/*---------------------------- */
