
/* variables -------------- */
:root {
    --main-color: rgb(0, 160, 0);
    --main-hover: rgb(0, 120, 0);
    --main-active: rgb(1, 80, 1);
    --light-color: rgb(237, 244, 247);
    --light-accent: rgb(192, 194, 197);
    --dark-accent: rgb(160, 162, 163);
    --text-color:rgb(0, 0, 0);

    --border-style: 3px solid var(--dark-accent);
    --border-radius: 6px;
  }


/* generic styles --------*/
html{
    font-family: sans-serif;
    color: var(--text-color);
}

#logo{
    width: 100;
    height: 100;
}

button, input[type=submit]{
    border: none;
    background-color: var(--main-color);
    color: var(--light-color);
}

button:hover, input[type=submit]:hover{
    background-color: var(--main-hover);
}

button:active, input[type=submit]:active{
    background-color: var(--main-active);
}


/*nav bar --------------- */
nav{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    background-color: var(--main-color);
}

nav a {
    color: var(--light-color);
}

nav a:hover {
    color: var(--light-accent);
}

nav a:active {
    color: var(--dark-accent);
}

/* budgets--------------- */
#budgets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* expenses--------------- */
.expenseList {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.expense {
    width: 15%;
    border: var(--border-style);
    border-radius: var(--border-radius);
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.expenseAmount {
    font-size: large;
    font-weight: bold;
    color: var(--main-color);
}

.expenseButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ad-------------*/
#ad{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
    position: fixed;
    right: 0;
    bottom: 0;
}

#ad button {
    background-color: black;
    border: none;
    color: white;
    border-radius: 50%;
}

#ad img {
    width: 180px;
    height: 180px;
}

.hidden {
    display: none;
}
/*---------------------------- */
